{
    "sourceFile": ".env.example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 3,
            "patches": [
                {
                    "date": 1724744861305,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                },
                {
                    "date": 1724756356536,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -1,2 +1,2 @@\n PORT=3000\n-MONGODB_URI=mongodb://localhost:27017/auth_db\n+MONGODB_URI=\n"
                },
                {
                    "date": 1724952059425,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -1,2 +1,4 @@\n-PORT=3000\n+PORT=\n MONGODB_URI=\n+ACCESS_TOKEN_SECRET=2a3e9577823431d5670cacf6516cf4869a22b434ec375562377e1e29f453ef7c\n+REFRESH_TOKEN_SECRET=0c4dba6f8b1f48cb2d97b55d28f3527bff5efe641a8f7c25da08fcdf2488f684\n\\ No newline at end of file\n"
                },
                {
                    "date": 1724952066939,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -1,4 +1,4 @@\n PORT=\n MONGODB_URI=\n-ACCESS_TOKEN_SECRET=2a3e9577823431d5670cacf6516cf4869a22b434ec375562377e1e29f453ef7c\n-REFRESH_TOKEN_SECRET=0c4dba6f8b1f48cb2d97b55d28f3527bff5efe641a8f7c25da08fcdf2488f684\n\\ No newline at end of file\n+ACCESS_TOKEN_SECRET=\n+REFRESH_TOKEN_SECRET=\n\\ No newline at end of file\n"
                }
            ],
            "date": 1724744861305,
            "name": "Commit-0",
            "content": "PORT=3000\nMONGODB_URI=mongodb://localhost:27017/auth_db\n"
        }
    ]
}